.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: flex !important;
}

.gap {
  @each $size in $sizes {
    &-#{$size} {
      gap: $size * 5px;
    }
  }
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}

.d-md-none {
  @media #{$medium-and-up} {
    display: none !important;
  }
}
.d-lg-none {
  @media #{$large-and-up} {
    display: none !important;
  }
}
.d-xl-none {
  @media #{$extra-large-and-up} {
    display: none !important;
  }
}

.d-md-block {
  @media #{$medium-and-up} {
    display: block !important;
  }
}

.d-lg-block {
  @media #{$large-and-up} {
    display: block !important;
  }
}

.d-xl-block {
  @media #{$extra-large-and-up} {
    display: block !important;
  }
}

.d-md-flex {
  @media #{$medium-and-up} {
    display: flex !important;
  }
}

.d-lg-flex {
  @media #{$large-and-up} {
    display: flex !important;
  }
}

.d-xl-flex {
  @media #{$extra-large-and-up} {
    display: flex !important;
  }
}
